.addToCalendar {
    border: none;
    background-color: transparent;
}

/* .eventsBackground {
    background-image: url(calendar.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -90;
} */