.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10rem;
}



.button {
    background-color: transparent;

}
.homeBar{
    width: 100%;
    border: none;
    background-color: rgb(48, 48, 48);
    position: fixed;
    bottom: 40px;
   
}
