.Futebol-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(football.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -90;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.Basquetebol-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(basketball.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -90;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.Ténis-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(tennis.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -90;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.Voleibol-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(volley.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -90;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.submitButton {
    border: none;
    background-color: transparent;
    align-items: center;
    
} 

.commentsDiv{
    border: solid thin rgb(198, 198, 198);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    /* border-radius: 10px; */
    background-color: rgb(247, 244, 241);
    width: 300px;
    margin-bottom: 7px;
    border-radius: 7px;
}

.favIcon {
    border: none;
    background-color: transparent;
}

/* .feed {
    position: fixed;
}

.commentssss {
    position: fixed;
} */

.postBox {
    height: 50px;
    width: 270px;
    border: solid thin rgb(198, 198, 198);
    border-radius: 7px;
    
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}